<body>
    <p>Estimado {{ first_name }} {{ last_name }},</p>
    
    <p>Junto con saludar, queremos informarle que su postulación para productor en Agrinet fue rechazada por la administración.</p>
    
    <p>A continuación le dejaremos el motivo del rechazo y qué podría hacer para postular nuevamente con los requisitos que le faltaron:</p>
    
    <p><b>
        <strong>
            "{{reject_reason}}"
        </strong>
    </b></p>
    
    <p>Basado en el motivo de rechazo, puede volver a realizar una postulación teniendo en mente lo comunicado por este medio para poder ser considerado nuevamente para ser revisado.</p>
    <p>Si desea volver a postular corrigiendo lo mencionado en el motivo de rechazo, puede hacerlo <a href="{{protocol}}://{{domain}}{% url 'application_form' %}">aquí</a></p>
</body>
</html>