<body>
    <p>Estimado {{ first_name }} {{ last_name }},</p>
    
    <p>Junto con saludar, queremos informarle que su postulación para productor en Agrinet fue aceptada por la administración.</p>
    
    <p>A continuación le dejaremos sus credenciales de acceso:</p>
    
    <ul>
        <li><strong><b>Correo:</b></strong> {{ email }}</li>
        <li><strong><b>Password:</b></strong> {{ password }}</li>
    </ul>
    
    <p>Por seguridad, procure cambiar su contraseña con la opción habilitada para ello en el inicio de sesión.</p>

    <p>Para iniciar sesión haga click <a href="{{protocol}}://{{domain}}{% url 'login' %}">aquí</a></p>
</body>
</html>
