.products-container{
    margin-top: 3%;
    min-height: 52rem;
}

.pTitle{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 75%;
    margin: 20px;
    text-align: center;
}

.pTitle h2{
    font-weight: 700;
}

.btn-custom {
    background: #00c67c;
    border-radius: 8px;
    border: none;
    height: 3rem;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -1px;
  }

.cart-info{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(5,2fr);
    border-radius: 7px;
    min-height:120px ;
    margin: 0px 60px 10px 60px;
}

.units{
    display: inline-block;
    padding-right: 10px;
}



.units i{
    color: #00c67c;
    font-weight: bolder;
    font-size: xx-large;
    cursor: pointer;
    
}


.imgDiv img{
    border-radius: 10px;
    max-width: auto;
    max-height: 200px;
    margin: 10px;
}

.btnDiv{
    display: flex;
    flex-direction: column;
}

.btnUpd{
    margin: 3px 10px 5px 10px;
}

