.btn-custom {
    background: #00c67c;
    border-radius: 8px;
    border: none;
    height: 3rem;
    width: 30%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -1px;
  }

  .paymentData{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}