.payment-div{
  display: grid;
  grid-template-columns: repeat(3,2fr);
  align-items: center;
  margin: 20px;
}

.payment-data{
  margin: 10px;
  text-align: center;
}

.info{
  margin: 20px;
  text-align: center;
}

.payment-btn{
  display: flex;
  justify-content: center;
}


.line{
  border-top: solid 2px black;;
}

.logo {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.bg-modal{
  background: transparent;
}

.bg-modal-inside{
  background: #212529;
}

.border-modal{
  border: #212529 solid 4px;
  border-radius: 25px;
}

.border-modal-top{
  border: transparent;
  border-radius: 25px 25px 0px 0px;
}

.modal-text{
  text-align: center;
}