.products-container{
    margin-top: 3%;
    min-height: 52rem;
}

.pTitle h2{
    font-weight: 700;
}


.addBtn{
    background-color: #01AA95;
    font-size: xx-large;
    border-radius: 50%;
}

.products-info{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,2fr);
    background-color: #E1F3F0;
    border-radius: 7px;
    min-height:120px ;
    margin: 0px 60px 10px 60px;
}

.imgDiv img{
    border-radius: 10px;
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}

.btnDiv{
    display: flex;
    flex-direction: column;
}

.btnUpd{
    margin: 3px 10px 5px 10px;
}

