/* body */

.producerData{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.producerData img{
    max-width: 20%;
}

.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    border-top: solid 5px #212529;;
}

.card{
    border-radius: 10px;
    margin-top: 10%;
    max-width: 40%;
}

.card:active{
    transform: scale(98%);
}

.card-img{
    filter: saturate(0.3) blur(3px);
    opacity: 0.6;
}

.card-title{
    font-size: 46px;
    font-weight: bolder;
    padding: 10px; 
}

.registerFrameBackground{
    margin-top: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 10rem;
    background-color: #212529;
    padding: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 10px;
}

.registerFormBackground{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3.5rem;
}

.btnRegister{
    background: #00c67c;
    border-radius: 8px;
    border: none;
    height: 3rem;
    width: 95%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -1px;
}

.btn, .btnRegister{
    border-radius: 5px;
    padding: -1rem;
    color:#ffffff;
}


.lineBreak{
    margin-bottom: 30px;
}

.registerFormTitle{
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
