
a{
    text-decoration: none;
    color: #ffffff;
    font-size: medium;
}

a i{
    font-size: xx-large;
}

a:hover{
    color: #cfcfcf;
}
/* navbar*/
.nav{
    background-color: #212529
}

.btn{
    border-radius:50% ;
}
.btn:active{
    transform: scale(0.9);
}

.searchInput{
    border-radius: 8px;
    width: 20rem;
}

.bi{
    color: #ffffff;
}

/* body */

.producerData{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.producerData img{
    max-width: 20%;
}

.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    border-top: solid 5px #212529;;
}

.card{
    border-radius: 10px;
    margin-top: 10%;
    max-width: 40%;
}

.card:active{
    transform: scale(98%);
}

.card-img{
    filter: saturate(0.3) blur(3px);
    opacity: 0.6;
}

.card-title{
    font-size: 46px;
    font-weight: bolder;
    padding: 10px; 
}

