body{
    background-color: #212529;
}

.registerFrameBackground{
    margin-top: 10rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 10rem;
    background-color: #212529;
    padding: 1.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 10px;
}

.registerFormBackground{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3.5rem;
}

.rowGrid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 50px;
    row-gap: 30px;
}

.presentationMessage{
    display: grid;
    grid-template-rows: repeat(3,2fr);
    align-items: center;
    text-align: center;
}

.btnRegister{
    background: #00c67c;
    border-radius: 8px;
    border: none;
    height: 3rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -1px;
}

.btn .btnRegister{
    border-radius: 5px;
    padding: -1rem;
    color:#ffffff;
}

.registerFormTitle{
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.dateInput{
    height: 500px;
    width: 500px;
}

.btnProducerTypeList{
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    color: white;
    font-weight: bold;
    letter-spacing: -1px;
}