
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="{% static 'logo.png' %}" alt="Logo" width="50" height="50">
          </a>
        </div>
    </nav>
    <br>
    <center><h2>Formulario de postulación</h2></center>
    <br>
        <form id="formularioId">
            <label for="rut">RUT Postulante:</label>
            <input type="text" id="rut" name="rut" required>
    
            <label for="dv">DV RUT:</label>
            <input type="text" id="dv" name="dv" required>

            <label for="Edad">Edad:</label>
            <input type="number" id="edad" name="edad" required>
    
            <label for="primer-nombre">Primer Nombre:</label>
            <input type="text" id="nombre" name="primer-nombre" required>
            

            <label for="apellido-paterno">Apellido Paterno:</label>
            <input type="text" id="apellido-paterno" name="apellido-paterno" required>
    
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required>
    
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>
    
            <label for="razon-social">Razón Social:</label>
            <input type="text" id="razon-social" name="razon-social" required>
    
            <label for="tipo-productor">Tipo de Productor:</label>
            <select id="tipo-productor" name="tipo-productor" required>
                <option value="Agricola">Verduras</option>
                <option value="Agricola">Frutas</option>
                <option value="Agricola">Tuberculos</option>
                <option value="Agricola">Legumbres</option>
                <option value="Agricola">Hortalizas</option>
            </select>
            <center><button type="submit">Enviar</button></center>
        </form>
   
        <br>
      <script src="{% static 'validaciones.js' %}"></script>
</body>
</html>

