

{% extends 'base_template.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'estilo.css'%}">
{% endblock extra_css%}
{% block main %}

        <br>
        <center><h2>Formulario de postulación</h2></center>
        <br>
            <form action="" method="post" id="form" name="form">
              {% csrf_token %}
                <label for="rut">RUT Postulante:</label>
                <input type="text" id="Idrut" name="rut" required>
                <div id="rutid"></div>
    
                <label for="Edad">Edad:</label>
                <input type="number" id="edad" name="edad" required>
                <div id="edadId"></div>
        
                <label for="primer-nombre">Primer Nombre:</label>
                <input type="text" id="idnombre" name="primer-nombre" required>
                <div id="nombre"></div>
    
                <label for="apellido-paterno">Apellido Paterno:</label>
                <input type="text" id="apellidoId" name="apellido-paterno" required>
                <div id="apellido"></div>
        
                <label for="correo">Correo:</label>
                <input type="email" id="EmailId" name="correo" required>
                <div id="EId"></div>
        
                <label for="telefono">Teléfono:</label>
                <input type="TelId" id="TelId" name="telefono" required>
                <div id="teleId"></div>
        
                <label for="razon-social">Razón Social:</label>
                <input type="text" id="razonsocialId" name="razon-social" required>
                <div id="socialId"></div>
        
                <label for="tipo-productor">Tipo de Productor:</label>
                <select id="tipo-productor" name="tipo-productor" required>
                    <option value="Agricola">Verduras</option>
                    <option value="Agricola">Frutas</option>
                    <option value="Agricola">Tuberculos</option>
                    <option value="Agricola">Legumbres</option>
                    <option value="Agricola">Hortalizas</option>
                    <option value="Agricola"></option>
                </select>
                <div id="tipoProductorId"></div>
                <center><button type="submit" id="btnRegistrarId">Enviar</button></center>
            </form>
            <br>
        <br>
       
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}
{% block extra_js %}
<script src="{% static 'validaciones.js' %}"></script>
{% endblock %}