{% extends 'base_template.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/myProducts.css' %}">
{% endblock extra_css %}


  
    {% block main %}
  
        <div class="container">
            <div class="products-container">
                <div class="pTitle">
                    <h2>Mis Productos</h2>
                    <a href="{% url 'create_products' %}">
                        <button class="btn btn-success addBtn" ><i class="bi bi-plus-lg"></i></button>
                    </a>
                </div>
                
                {% for product in products %}
                <div class="products-info">

                    <div class="imgDiv">
                        <img src="{{product.picture.url}}" alt="">
                    </div>
                    
                    <div class="dataDiv">
                        <h6>{{product.name}}</h6>
                        <h6>Proveedor: {{product.producer}}</h6>
                        <h6>Precio: ${{product.price}}</h6>
                        <h6>Stock: {{product.stock}}</h6>
                    </div>

                    <div></div>

                    <div class="btnDiv">
                        <button type="button" class="btn btn-dark btn-sm">Actualizar</button>
                        <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>    
    {% endblock main %}

