{% extends 'base_template.html' %} 
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/addProducts.css' %}">
{% endblock extra_css %}

{% block main %}

  <div class="container">
    <div class="formContainer border border-dark rounded-5 p-5">
      <form  method="POST" class="card card-body border-0" enctype="multipart/form-data">
        <h1>Actualizar producto</h1>
        {% csrf_token %}
        {{error}}
        {{form}}        
        <div class="d-flex justify-content-between">
          <a href="{% url 'my_products' %}" class="btn btn-dark w-25 fw-bold rounded-4 mt-5 align-self-center">
            Cancelar
          </a>
          <button type="submit" class="btn btn-success w-25 fw-bold rounded-4 mt-5 align-self-center">
            Guardar cambios
          </button>
        </div>
     </form>
    </div>
  </div>
  
      
  

{% endblock main %}
