{% extends 'base_template.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/cart.css' %}">
  <link rel="stylesheet" href="{% static 'styles/review_styles.css' %}">
{% endblock extra_css %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function updateCart(product_id, action) {
            $.ajax({
                type: 'POST',
                url: '{% url "update_item" %}',
                data: {
                    product_id: product_id,
                    action: action,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    // Actualiza la página o realiza otras acciones según sea necesario
                    location.reload();
                }
            });
        }
    </script>

    {% block main %}
  
        <div class="container">
            <div class="products-container border border-dark rounded-5 p-5">
                <div class="pTitle">
                    <h2 class="txt">Total a pagar ${{total_cart }}</h2>
                    <a href="{% url 'checkout' %}" class="btn btn-success fw-bold rounded-3 w-100">
                        Pagar
                    </a>
                </div>
                
                    <div class="cart-info">
                        <p></p>
                        <h4>Producto</h4>
                        <h4>Precio</h4>
                        <h4>Cantidad</h4>
                        <h4>Total</h4>
                    </div>
                    <div class="line"></div>
                {% for item in items %}
                    <div class="cart-info">
                        <div class="imgDiv">
                            <img src="{{item.product.picture.url}}" alt="" class="img-thumbnail ">
                        </div>

                        <div>
                            <p>{{item.product.name}}</p>
                        </div>

                        <div>
                            <p>${{item.product.price|floatformat:2}}</p>
                        </div>

                        <div class="unitContainer">
                            <p class="units">{{item.quantity}}</p>
                            <div class="units">
                                <i class="bi bi-plus iunits update-cart" data-product="{{item.product.id}}" data-action="add"></i>
                                <i class="bi bi-dash iunits update-cart" data-product="{{item.product.id}}" data-action="remove"></i>
                            </div>
                        </div>

                        <div>
                            <p>${{item.get_total}}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>    
    {% endblock main %}

