{% extends 'base_template.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/checkout.css' %}">
{% endblock extra_css %}


  
  {% block main %}
  
    <div>
          <div class="paymentData">
            <h1>Total a pagar</h1>
            <h1>${{total_cart}}</h1>
            <h1>Total de productos </h1>
            <h1>{{total_items}}</h1>
            
            <button class="btn-custom">PAGAR</button>
          </div>
     </div>    

     
    {% endblock main %}

