{% extends 'base_template.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/checkout.css' %}">
{% endblock extra_css %}


  
  {% block main %}
  
    <div>
          <div class="paymentData">
            <h1>Total a pagar</h1>
            <h1>${{total_cart}}</h1>
            <h1>Total de productos </h1>
            <h1>{{total_items}}</h1>

            <form id="form">
              {{form}}
            </form>

            <button id="make-payment" class="btn-custom">PAGAR :p</button>
          </div>
     </div>    

     

     <script>
        var total = '{{total_cart}}'
        var form = document.getElementById('form')
        document.getElementById('make-payment').addEventListener('click', function(e){
          submitFormData()
        })

        function submitFormData(){
          console.log('payment btn clicked :oo')

          var paymentdata = {
            'shipping': form.shipping.value,  // El valor de shipping ya es el ID seleccionado
            'payment': form.payment.value,    // El valor de payment ya es el ID seleccionado
            'receipt': form.receipt.value,
            'total': total,
          }
          var url = 'process_order/'
          fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':paymentdata})

          })
          .then((response) => response.json())
          .then((data) => {
            console.log('Succes:',data);
            alert('Transaction Completed');
            window.location.href = "{% url 'client_dashboard' %}"
        
          })
        }

     </script>


    {% endblock main %}

