{% extends 'base_template.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'styles/checkout.css' %}">
{% endblock extra_css %}


  
  {% block main %}
  
    <div class="w-50 mt-5 mx-auto">
      
      <div class="payment-div">
        <div class="payment-data">
          <h1>Total de productos</h1>
          <h1>{{total_items}}</h1>
        </div>
        
        <div class="payment-data">
          <img src="{% static 'img/checkoutlogo.png' %}" alt="" width="130px">
        </div>

        <div class="payment-data">
          <h1>Total a pagar</h1>
          <h1>${{total_cart}}</h1>
        </div>
      </div>    

      <div class="line"></div>

        <form id="form">
          <div class="payment-div align-items-end p-3 mt-5 mb-5 d-flex justify-content-center mx-auto">
            <div class="info">
              <h2>Eliga su metodo de pago</h2>
              {{form.payment}}
            </div>

            <div class="info">
              <h2>Eliga el tipo de comprobante</h2>
              {{form.receipt}}
            </div>
              
            <div class="info">
              <h2>Eliga el metodo de retiro</h2>
              {{form.shipping}}
            </div>
          </div>
          
          <div class="payment-btn d-flex gap-5">
            <a href="{% url 'cart' %}" class="btn btn-danger fw-bold rounded-4 w-25">Cancelar</a>
            <a href="#" id="make-payment" class="btn btn-success fw-bold rounded-4 w-25" data-bs-toggle="modal" data-bs-target="#payment-modal"  data-bs-toggle="modal" data-bs-target="#payment-modal"
            >Pagar</a>
        
          </div>
        </form>
    </div>    
    
    


    <div
    class="modal fade bg-modal"
    id="payment-modal"
    tabindex="-1"
    aria-labelledby="passwordModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered bg-modal">
      <div class="modal-content border-modal bg-modal-inside">
        <div class="modal-header d-flex flex-column border-modal-top">
          <img src="{% static 'assets/logo3.png' %}" class="mt-5" width="40%" />
          <div class="text-light fs-5 mt-3 mb-3">
            Su compra se ha procesado con éxito.
          </div>
          <div class="text-light fs-5 text-center mb-5">
            La fecha aproximada para la disponibilidad de retiro o recibo de su compra es <b>{{arrive_date}}</b>.
          </div>

          <div class="fs-5 mb-5">
            <a href="{% url 'sales_receipt' %}" class="btn btn-success fw-bold rounded-4 w-100">Ver recibo</a>
          </div>

        </div>
      </div>
    </div>
  </div>
        

     <script>
        var total = '{{total_cart}}'
        var form = document.getElementById('form')
        document.getElementById('make-payment').addEventListener('click', function(e){
          submitFormData()
        })

        function submitFormData(){
          console.log('payment btn clicked :oo')

          var paymentdata = {
            'shipping': form.shipping.value, 
            'payment': form.payment.value,   
            'receipt': form.receipt.value,
            'total': total,
          }
          var url = 'process_order/'
          fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            body:JSON.stringify({'form':paymentdata})

          })
          .then((response) => response.json())
          .then((data) => {
            console.log('Succes:',data);
          })
        }

     </script>


    {% endblock main %}

