{% extends 'base_template.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}" />
{% endblock extra_css %} {% block main %}
<div class="style">
  <div class="row">
    <div
      class="col-5 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="welcome">
        <img src="{% static 'assets/logo2.png'%}" class="logo" />
      </div>

      <form method="post" action="{% url 'login' %}" class="d-flex flex-column">
        {% csrf_token %}
        <div class="container-fluid fs-5 mb-4">
          Email
          <p></p>
          {{ form.username }}
        </div>
        <div class="container-fluid fs-5 mb-4">
          Password
          <p></p>
          {{ form.password }}
          <!-- Button trigger modal -->
          <p class="text-center span">
            ¿Olvidaste tu contraseña? Recupérala
            <a href="#" data-bs-toggle="modal" data-bs-target="#passwordModal"
              >aquí</a
            >
          </p>
        </div>
        <div class="d-flex justify-content-center w-100">
          <button type="submit" class="btn-custom">Iniciar Sesión</button>
        </div>
        <p class="text-center span">
          ¿No tienes una cuenta? Regístrate <a href="{% url 'client_register_form' %}">aquí</a>
        </p>
      </form>

      <!-- Modal -->
      <div
        class="modal fade bg-modal"
        id="passwordModal"
        tabindex="-1"
        aria-labelledby="passwordModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered bg-modal">
          <div class="modal-content border-modal bg-modal-inside">
            <div class="modal-header d-flex flex-column border-modal-top">
              <img src="{% static 'assets/logo3.png'%}" class="" width="40%" />
              <div class="text-light fs-5">Recupera tu contraseña</div>
            </div>
            <form action="" class="w-75">
              <div class="container-fluid fs-5 mb-4">
                Ingresa tu correo de usuario
                <p></p>
                <input
                  type="text"
                  name=""
                  id=""
                  class="input-text"
                  placeholder="Correo electrónico"
                />
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn-custom mb-3">Recuperar</button>
              </div>
            </form>
          </div>
        </div>
        <!-- Fin Modal -->
      </div>

      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %}
      <div class="text-light copyright">
        © Agrinet, 2024. Todos los derechos reservados.
      </div>
    </div>

    <div class="col-7 img-bg"></div>
  </div>
</div>
{% endblock main %}