{% extends 'base_template.html' %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock extra_css %} {% block main %}

<div class="style">
  <div class="row">
    <div
      class="col-5 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="welcome">
        <img src="{% static 'assets/logo2.png'%}" class="logo" />
      </div>

      <form method="post" action="{% url 'login' %}" class="d-flex flex-column">
        {% csrf_token %}
        <div class="container-fluid fs-5 mb-4">
          Email
          <p></p>
          {{ form.username }}
        </div>
        <div class="container-fluid fs-5 mb-4">
          Password
          <p></p>
          {{ form.password }}
          <p class="text-center span">
            ¿Olvidaste tu contraseña? Recupérala <a href="">aquí</a>
          </p>
        </div>
        <div class="d-flex justify-content-center w-100">
          <button type="submit" class="btn-custom">Iniciar Sesión</button>
        </div>
        <p class="text-center span">
          ¿No tienes una cuenta? Regístrate <a href="">aquí</a>
        </p>
      </form>
      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-7 img-bg"></div>
  </div>
</div>
{% endblock main %}
