{% extends "base_template.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
{% endblock extra_css %}


{% block main %}
{% if validlink %}
<div class="bg-dark d-flex flex-column justify-content-center">
    <p class="fs-3 text-light text-center mt-5">
      Ingresa una nueva contraseña
    </p>


      <form method="post" class="d-flex flex-column django-form text-light">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-custom">Cambiar contraseña</button>
    </form>
    {% else %}
<p class="fs-3 text-light text-center mt-5">
    El enlace de recuperación de contraseña es inválido y/o posiblemente ha sido usado.
    Por favor solicita una nueva contraseña. <br class="mt-5 mb-5">
    <a href="{% url 'login' %}" class="fs-3 text-center mt-5">Ir al inicio</a>
</p>
{% endif %}

</div>

{% endblock main %}



