{% extends "base_template.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/reset.css' %}" />
{% endblock extra_css %}

{% block main %}
<div class="bg-dark d-flex flex-column">
  <p class="fs-3 text-light text-center mt-5">
    Si está registrado, recibirá un enlace para reestablecer su contraseña. Revise su correo.<br class="mt-5 mb-5">
    <a href="{% url 'login' %}" class="fs-3 mt-5 btn btn-light border">
      Ir al inicio
    </a>
  </p>
</div>
{% endblock main %}