{% extends 'base_template.html' %}

{% block main %}
  <form method="post">
    {% csrf_token %}
    <div class="container-fluid fs-5 mb-4">
      Nueva contraseña
      <p></p>
      {{ form.new_password1 }}
    </div>
    <div class="container-fluid fs-5 mb-4">
      Confirmar nueva contraseña
      <p></p>
      {{ form.new_password2 }}
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn-custom mb-5">Restablecer contraseña</button>
    </div>
  </form>
{% endblock %}
