{% extends 'base_template.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/panel.css'%}">
    <link rel="stylesheet" href="{% static 'styles/register_form.css'%}">
    <link rel="stylesheet" href="{% static 'styles/extra.css'%}">
{% endblock %}

{% block main %}

    {% if user.is_superuser %}
    <div class="registerFrameBackground justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <div class="presentationMessage">
                    <div></div>
                    <div></div>
                    <center><img src="{% static 'assets/logo3.png' %}" alt="icono_agrinet" width="600px"></center>
                </div>
            </div>
            <div class="col-md-6 registerFormBackground">
                <h1 class="registerFormTitle"><b>Formulario de Registro</b></h1>
                <form method="POST" class="w-75 container justify-content-center validate-form">
                    {% csrf_token %}
                    <div class="rowGrid">
                        <div class="form-group">
                            {{form.first_name.label_tag}}
                            {{form.first_name}}
                            <p id="id_fn_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.last_name.label_tag}}
                            {{form.last_name}}
                            <p id="id_ln_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.dni.label_tag}}
                            {{form.dni}}
                            <p id="id_dni_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.bussiness_name.label_tag}}
                            {{form.bussiness_name}}
                            <p id="id_bussinessname_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.birth_date.label_tag}}
                            {{form.birth_date}}
                            <p id="id_birthdate_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.phone_number.label_tag}}
                            {{form.phone_number}}
                            <p id="id_phone_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.address.label_tag}}
                            {{form.address}}
                            <p id="id_address_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.latitude.label_tag}}
                            {{form.latitude}}
                            <p id="id_address_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.length.label_tag}}
                            {{form.length}}
                            <p id="id_address_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.email.label_tag}}
                            {{form.email}}
                            <p id="id_email_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            {{form.password.label_tag}}
                            {{form.password}}
                            <p id="id_password_alert" style="font-size: 12px;"></p>
                        </div>
                        <div class="form-group">
                            <label for="id_repeat_password">Repetir Contraseña:</label>
                            <input type="password" id="id_repeat_password" name="repeat_password">
                            <p id="id_repeat_password_alert" style="font-size: 12px;"></p>
                        </div>
                    </div>
                    <div class="container-fluid">
                        {% if user_already_exists %}
                            <p style="color: red; font-size: 12px;">El usuario ya está registrado. Por favor, ingrese su RUN. En caso de que su RUN haya sido registrado y no es usted, contactarse con el Administrador.</p>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button id="id_register_button" type="submit" class="btn btn-success w-25 fw-bold rounded-4"><b>Registrar Productor</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="bg-dark d-flex flex-column">
        <h1 class="fs-1 mt-5 text-center text-green">Acceso no autorizado, si desea ser productor, cierre su sesión actual y dirígase a la opción de postulación</h1>
    </div>
    
    {% endif %}
{% endblock %}

{% block extra_js %} 
    <script src="{% static 'script/producer_register_form.js' %}"></script>
{% endblock %}
