{% extends 'base_template.html' %}
{% load static %}
{% block title %}Formulario de Registro{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/panel.css'%}">
{% endblock %}

{% block main %}

    <div class="fondoCuadroRegistro justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vel voluptatum mollitia voluptas voluptatibus, quo, consequuntur, ab pariatur voluptates id perferendis at! Autem alias id earum adipisci? Tempore, temporibus earum.</p>
            </div>
            <div class="col-md-6 fondoFormularioRegistro">
                <h1 class="registerFormTitle"><b>Formulario de Registro</b></h1>
                <form method="POST" class="w-75 container justify-content-center>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 d-flex flex-column">
                            <div class="row lineBreak">
                                <div class="form-group">
                                    {{form.first_name.label_tag}}
                                    {{form.first_name}}
                                </div>
                            </div>
                            <div class="row lineBreak">
                                {{form.dni.label_tag}}
                                <div class="form-group">
                                    {{form.dni}}
                                </div>
                            </div>
                            <div class="row lineBreak">
                                <div class="form-group">
                                    {{form.email.label_tag}}
                                    {{form.email}}
                                </div>
                            </div>
                            <div class="row lineBreak">
                                {{form.phonenumber.label_tag}}
                                <div class="form-group">
                                    {{form.phonenumber}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex flex-column text-center">
                            <div class="row lineBreak">
                                <div class="form-group">
                                    {{form.last_name.label_tag}}
                                    {{form.last_name}}
                                </div>
                            </div>
                            <div class="row lineBreak">
                                {{form.address.label_tag}}
                                <div class="form-group">
                                    {{form.address}}
                                </div>
                            </div>
                            <div class="row lineBreak">
                                {{form.password.label_tag}}
                                <div class="form-group">
                                    {{form.password}}
                                </div>
                            </div>
                        </div>
                    </div>
                        <button class="btn btnRegister w-100"><b>Registrarse</b></button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}


<!--

<div class="row lineBreak">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.first_name.label_tag}}
                                {{form.first_name}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{form.last_name.label_tag}}
                                {{form.last_name}}
                            </div>
                        </div>
                    </div>
                    <div class="row lineBreak">
                        <div class="col-md-6">
                            {{form.dni.label_tag}}
                            <div class="col-md-6">
                                {{form.dni}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            {{form.address.label_tag}}
                            {{form.address}}
                        </div>
                    </div>
                    <div class="row lineBreak">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            {{form.password.label_tag}}
                            {{form.password}}
                        </div>
                    </div>
                    <div class="row lineBreak">
                        <div class="col-md-6">
                            {{form.phonenumber.label_tag}}
                            {{form.phonenumber}}
                        </div>
                        <div class="col-md-6">
                            
                        </div>                        
                    </div>

-->