{% extends 'base_template.html' %} 
{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block main %}

<div class="container d-flex flex-column justify-content-center mt-5 border border-dark rounded-5 p-5">
 
      <div class="row d-flex justify-content-between">
        <h2 class="fs-1 col">Reporte de ventas</h2>
        <div class="col-2 d-flex justify-content-end">
            <img src="{% static 'assets/logo-white.png' %}" alt="" class="w-50">
        </div>
      </div>
  
      <div class="row mt-0">
        <div class="col">

            <div class="text-capitalize fs-5 col fw-bold">{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</div>
            <div class="text-capitalize fs-5 col">RUT:&nbsp;{{ producer.dni }}</div>
            <div class="fs-5 col">Fecha de reporte:&nbsp;{{ current_date }}</div>
        </div>
      </div>

      <div class="container mt-5">
        <form method="POST" action="{% url 'sales_report' %}">
          {% csrf_token %}
            <div class="fs-5 mb-4">Seleccione el periodo del reporte</div>
            <div class="d-flex flex-row mb-2">
                <input type="date" name="report_starts" id="" class="">
                <div class="fs-5">&nbsp;hasta&nbsp;</div>
                <input type="date" name="report_ends" id="" class="">
            </div>
            <span id="span" class="text-danger"></span>
            <br>
            <br>
            <br>
            <div class="row mt-5 d-flex justify-content-between">

                <a href="{% url 'producer_dashboard' %}" class="btn btn-dark w-25 fw-bold rounded-4">Vovler</a>
                <button type="submit" class="btn btn-success w-25 fw-bold rounded-4" id="generate" disabled>Generar</button>
            </div>
          </form>
      </div>
      </div>
      <div class="container d-flex justify-content-start mt-5">

</div>

      
  

{% endblock main %}

{% block extra_js %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var startDateInput = document.querySelector('input[name="report_starts"]');
      var endDateInput = document.querySelector('input[name="report_ends"]');
      var generateButton = document.getElementById('generate');

      startDateInput.addEventListener('change', validateDates);
      endDateInput.addEventListener('change', validateDates);

      function validateDates() {
        var currentDate = new Date();

        var startDate = new Date(startDateInput.value);
        var endDate = new Date(endDateInput.value);

        if (startDate <= currentDate && endDate <= currentDate && startDate <= endDate) {
          generateButton.removeAttribute('disabled');
          document.getElementById('span').innerHTML = ""
        } else {
          generateButton.setAttribute('disabled', 'disabled');
          document.getElementById('span').innerHTML = "Ingrese una fecha válida."
        }
      }
    });
  </script>
{% endblock extra_js %}
