{% extends 'base_template.html' %} 
{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block main %}

<div class="container d-flex flex-column justify-content-center mt-5 border border-dark rounded-5 p-5">
 
      <div class="row d-flex justify-content-between">
        <h2 class="fs-1 col">Reporte de ventas</h2>
        <div class="col-2 d-flex justify-content-end">
            <img src="{% static 'assets/logo-white.png' %}" alt="" class="w-50">
        </div>
      </div>
  
      <div class="row mt-0">
        <div class="col">

            <div class="text-capitalize fs-5 col">{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</div>
            <div class="text-capitalize fs-5 col">RUT:&nbsp;{{ producer.dni }}</div>
            <div class="text-capitalize fs-5 col">Fecha de reporte:&nbsp;{{ current_date }}</div>
        </div>
      </div>

      <div class="container mt-5">
        <form method="POST" action="{% url 'sales_report' %}">
          {% csrf_token %}
            <div class="fs-5 mb-4">Seleccione el periodo del reporte</div>
            <div class="d-flex flex-row">
                <input type="date" name="report_starts" id="" class="">
                <div class="fs-5">&nbsp;hasta&nbsp;</div>
                <input type="date" name="report_ends" id="" class="">
            </div>
            <br>
            <br>
            <br>
            <div class="row mt-5 d-flex justify-content-between">

                <a href="{% url 'producer_dashboard' %}" class="btn btn-dark w-25 fw-bold rounded-4">Vovler</a>
                <button type="submit" class="btn btn-success w-25 fw-bold rounded-4">Generar</button>
            </div>
          </form>
      </div>
      </div>
      <div class="container d-flex justify-content-start mt-5">

</div>

      
  

{% endblock main %}

{% block extra_js %}
  
{% endblock extra_js %}