{% extends 'base_template.html' %} 
{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block main %}

<div class="container d-flex flex-column justify-content-center mt-5 border border-dark rounded-5 p-5">


  
      <div class="row d-flex justify-content-between">
        <h2 class="fs-1 col">Reporte de ventas</h2>
        <div class="col-2 d-flex justify-content-end">
            <img src="{% static 'assets/logo-white.png' %}" alt="" class="w-50">
        </div>
      </div>
  
      <div class="row mt-0">
        <div class="col">

            <div class="text-capitalize fs-5 col">{{ product.producer.first_name }}Juanito Arcoiris McFly Potter</div>
            <div class="text-capitalize fs-5 col">RUT:&nbsp;{{ product.producer.dni }}12.345.678-9</div>
            <div class="text-capitalize fs-5 col">Fecha de reporte:&nbsp;{{ date_report }}15-02-2024</div>
        </div>
        <div class="col-5 fs-5 align-self-end d-flex justify-content-end">
            Ventas entre&nbsp;<b>01-01-2024{{ fecha_inicio }}</b>&nbsp;y&nbsp;<b>31-01-2024{{ fecha_termino }}</b>
        </div>
      </div>

      <div class="detail mt-5 d-flex justify-content-center">
        <table class="table table-striped w-75">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col" class="text-center align-self-center">Cantidad (kilos)</th>
                <th scope="col" class="text-end align-self-end">Total de venta por producto</th>
              </tr>
            </thead>
            <tbody>

                <!-- esto ira dentro de un for y se obtienen los valores del elemento -->
                <tr>
                  <td>Papas</td>
                  <td class="text-center align-self-center">2</td>
                  <td class="text-end align-self-end">$2900</td>
                </tr>
                <tr>
                  <td>Tomates</td>
                  <td class="text-center align-self-center">1</td>
                  <td class="text-end align-self-end">$800</td>
                </tr>
                <tr>
                  <td>Manzanas</td>
                  <td class="text-center align-self-center">1</td>
                  <td class="text-end align-self-end">$750</td>
                </tr>
                <!-- aca terminará el for -->

            </tbody>
          </table>
        </div>

        <div class="row w-75 align-self-center mt-5">
          <div class="col fs-5 fw-bold text-start">
              Total de ventas
          </div>
          <div class="col fs-5 fw-bold text-end">$7350{{ valor_total }}</div>
        </div>

      </div>
      <div class="container d-flex justify-content-start mt-5">

        <a href="{% url 'generate_report' %}" class="btn btn-dark w-25 fw-bold rounded-4">Volver</a>
        </div>

      
  

{% endblock main %}

{% block extra_js %}
  
{% endblock extra_js %}