{% extends 'base_template.html' %} 
{% load static %}

{% block extra_css %}

{% endblock extra_css %}

{% block main %}

<div class="container d-flex flex-column justify-content-center mt-5 border border-dark rounded-5 p-5">


  
      <div class="row d-flex justify-content-between">
        <h2 class="fs-1 col">Reporte de ventas</h2>
        <div class="col-2 d-flex justify-content-end">
            <img src="{% static 'assets/logo-white.png' %}" alt="" class="w-50">
        </div>
      </div>
  
      <div class="row mt-0">
        <div class="col">

          <div class="text-capitalize fs-5 col uppercase">{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</div>
          <div class="text-capitalize fs-5 col">RUT:&nbsp;{{ producer.dni }}</div>
          <div class="text-capitalize fs-5 col">Fecha de reporte:&nbsp;{{ current_date }}</div>
        </div>
        <div class="col-5 fs-5 align-self-end d-flex justify-content-end">
            Ventas entre&nbsp;<b>{{ report_starts_str }}</b>&nbsp;y&nbsp;<b>{{ report_ends_str }}</b>
        </div>
      </div>

      <div class="detail mt-5 d-flex justify-content-center">
        <table class="table table-striped w-75">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col" class="text-center align-self-center">Categoría</th>
                <th scope="col" class="text-center align-self-center">Cantidad (kilos)</th>
                <th scope="col" class="text-end align-self-end">Total de venta por producto</th>
              </tr>
            </thead>
            <tbody>

              {% for sale in sales %}
              <tr>
                <td>{{ sale.0 }}</td>
                <td class="text-center align-self-center">{{ sale.1 }}</td>
                <td class="text-center align-self-center">{{ sale.2 }}</td>
                <td class="text-end align-self-end">${{ sale.3 }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>

        <div class="row w-75 align-self-center mt-5">
          <div class="col fs-5 fw-bold text-start">
              Total de ventas
          </div>
          <div class="col fs-5 fw-bold text-end">${{ total }}</div>
        </div>

      </div>
      <div class="container d-flex justify-content-start mt-5">

        <a href="{% url 'generate_report' %}" class="btn btn-dark w-25 fw-bold rounded-4">Vovler</a>
        </div>

      
  

{% endblock main %}

{% block extra_js %}
  
{% endblock extra_js %}